body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f3;
}
header {
    background: linear-gradient(135deg, #34e1ad, #34d13c);
    color: white;
    padding: 60px 20px;
    text-align: center;
}
nav {
    background: #50966a;
    display: flex;
    justify-content: center;
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
nav a.active {
    color: rgb(255, 221, 0);
}
section {
    width: 85%;
    background: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    display: none;
    animation: fadeIn 0.6s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.skills, .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.card {
    padding: 20px;
    background: white;
    border-radius: 10px;
    border-left: 5px solid #00f64ef5;
}
footer {
    background: #823f75;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
